@import "tailwindcss";

@theme {
  --color-bunker-50: #f0fafb;
  --color-bunker-100: #d9f3f4;
  --color-bunker-200: #b7e7ea;
  --color-bunker-300: #85d4db;
  --color-bunker-400: #4cb8c4;
  --color-bunker-500: #319ca9;
  --color-bunker-600: #2b7e8f;
  --color-bunker-700: #296875;
  --color-bunker-800: #295661;
  --color-bunker-900: #264953;
  --color-bunker-950: #071013;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Roboto', sans-serif;
}

.primary-button {
  background: linear-gradient(90deg, var(--color-bunker-600) 0%, var(--color-bunker-700) 35%);
  border-width: 1px;
  border-color: #295661;
}

.primary-button:hover {
  background: linear-gradient(90deg, var(--color-bunker-700) 0%, var(--color-bunker-800) 35%);
  border-width: 1px;
  border-color: var(--color-bunker-900);
  scale: 1.1;
  transition: all 0.3s;
}