@import "tailwindcss";

@theme {
  --color-bunker-50: #f0fafb;
  --color-bunker-100: #d9f3f4;
  --color-bunker-200: #b7e7ea;
  --color-bunker-300: #85d4db;
  --color-bunker-400: #4cb8c4;
  --color-bunker-500: #319ca9;
  --color-bunker-600: #2b7e8f;
  --color-bunker-700: #296875;
  --color-bunker-800: #295661;
  --color-bunker-900: #264953;
  --color-bunker-950: #071013;

  --font-erode: 'Erode';
  --font-tanker: 'Tanker';
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Erode';
  src: url('/fonts/Erode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tanker';
  src: url('/fonts/Tanker-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Roboto', sans-serif;
}